@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1 {
    animation: color-change 3s infinite;
}
body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 20px; /* Размер основного шрифта в <p></p>  */
    background-color: #c3e2eb; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
}
h1 {
    color: #447192; /* Цвет заголовка */
    font-size: 35px; /* Размер шрифта в пунктах */
    font-family: Verdana; /* Семейство шрифтов */
}

h2 {
    color: #0e8c3e; /* Цвет заголовка */
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: Courier New; /* Семейство шрифтов */
}

